body{
    font-family: 'Open Sans', sans-serif;
    background-color: #eceeef;
}
.bg-img{
    background: url("../img/bg.jpg") no-repeat;
}
/*============  media ========*/
@media (max-width: 768px){
    .bg-img{
        max-height: 345px;
    }
}
@media (max-width: 564px){
    .bg-img{
        max-height: 250px;
    }
}
@media (max-width: 372px){
    .bg-img{
        max-height: 280px;
    }
    .container{
        padding: 0;
    }
    .b-header__bg{
        padding: 0;
    }
}
/*========================== b-header ========================================*/
.b-header__block-foto{
    padding-top: 15px;
}
.b-header__man{
    height: 412px;
    background: url("../img/man.png") no-repeat center bottom;
    background-size: contain;
    z-index: 0;
}
.b-header__h4{
    font-size: 19px;
    font-style: italic;
    color: #fff;
    padding-top: 85px;
    line-height: 35px;
    position: relative;
}
.b-header__h4:after{
    content: "";
    width: 65px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    bottom: -20px;
    left: 0;
    opacity: 0.3;
}
.b-header__author{
    margin-top: 40px;
}
.b-header__author__name{
    font-size: 14px;
    font-style: italic;
    color: #fff;
}
.b-header__author__work{
    font-size: 14px;
    opacity: 0.3;
    color: #fff;
    font-style: italic;
}
.b-header__bg .b-header__button {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #49bc1f;
    border-radius: 1px;
    padding: 10px 35px;
    margin-top: 30px;
    border-bottom: 1px solid #2fa205;
    position: relative;
    z-index: 100;
}
/*============  media ========*/
@media (max-width: 991px){
    .b-header__man{
        opacity: 1;
        position: relative;
    }
    .b-header__h4{
        font-size: 19px;
        text-align: inherit;
    }
}
@media (max-width: 768px){
    .b-header__man{
        display: block;
        opacity: 0.5;
        top:  -250px;
        right: 0;
        width: 285px;
        height: 285px;
        position: absolute;
    }
    .b-header__h4{
        font-size: 17px;
        font-style: italic;
        color: #fff;
        padding-top: 85px;
        line-height: 35px;
        position: relative;
        text-align: center;
    }
}
@media (max-width: 564px){
    .b-header__h4{
        padding-top: 15px;
        line-height: 25px;
    }
    .b-header__man{
        display: none;
    }
    .b-header__bg .b-header__button {
        font-size: 14px;
        padding: 10px 10px;
        z-index: 100;
        display: block;
        margin: 15px auto;
    }
}
@media (max-width: 365px){
    .b-header__bg .b-header__button {
        font-size: 13px;
        padding: 10px 2px;
    }
}
/*============================= b-main ============================*/
.b-main__h2{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #2a4656;
    margin-top: 50px;
}
.b-main__button-group{
    text-align: center;
    margin-top: 60px;
}
.b-main__button-group .btn{
    background-color: #fff;
    border: 1px solid #d5d7d8;
    border-radius: 2px;
}
.b-main__table{
    margin-top: 32px;
}
.b-main__table-thead{
    background-color: #dde1e3;
    color: #2a4656;
    font-size: 13px;
    text-transform: uppercase;
}
/*============  media ========*/
@media (max-width: 991px){

}
@media (max-width: 768px){
    .b-main__h2{
        margin-top: 70px;
    }
}
@media (max-width: 564px){
    .b-main__h2{
        text-align: center;
        font-size: 28px;
        font-weight: 900;
        color: #2a4656;
        margin-top: 10px;
    }
}
@media (max-width: 365px){
    .b-main__h2{
        margin-top: 0;
        font-size: 18px;
    }
}
@media (max-width: 372px){
    .b-header__author{
        margin-top: 30px;
    }
    .b-main__h2{
        margin-top: 50px;
    }
}
/*======================================== btn group ======================*/
.b-main__button-group .btn{
    padding: 6px 15px;
}
.b-main__button-group .active{
    color: #fff;
    background-color: #3ab03a;
}
.b-main__button-group .btn:hover{
    background-color: #3ab03a;
    color: #fff;
}
.b-main__button-group .btn:focus{
    background-color: #3ab03a;
    color: #fff;
    outline: none;
}
.active{
    background-color: #3ab03a;
    color: #fff;
}
/*============  media ========*/
@media (max-width: 768px) {
    .b-main__button-group{
        margin-top: 30px;
    }
    .b-main__button-group .btn{
        padding: 6px 15px;
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }
}
@media (max-width: 991px){
    .b-main__button-group .btn{
        padding: 6px 12px;
    }
}
@media (max-width: 372px){
.b-main__button-group{
    margin-top: 20px;
}
}
/*===================================== block_main thead =============================*/
.block_main_thead{
    margin-top: 30px;
}
    .block_main__title{
        font-weight: 400;
        padding: 20px;
        background-color: #dde1e3;
        text-transform: uppercase;
        color: #2a4656;
        font-size: 13px;
    }
    .block_main__location{
        font-weight: 400;
        border-left: 1px solid #eceeef;
        padding: 20px;
        background-color: #dde1e3;
        text-transform: uppercase;
        color: #2a4656;
        font-size: 13px;
    }
    .block_main__salary{
        font-weight: 400;
        text-align: right;
        border-left: 1px solid #eceeef;
        padding: 20px;
        background-color: #dde1e3;
        text-transform: uppercase;
        color: #2a4656;
        font-size: 13px;
    }
    .block_main__completed{
        font-weight: 400;
        text-align: center;
        border-left: 1px solid #eceeef;
        padding: 20px 0;
        background-color: #dde1e3;
        text-transform: uppercase;
        color: #2a4656;
        font-size: 13px;
    }
    .block_main__total_cost{
        font-weight: 400;
        text-align: right;
        border-left: 1px solid #eceeef;
        padding: 20px;
        background-color: #dde1e3;
        text-transform: uppercase;
        color: #2a4656;
        font-size: 13px;
    }
    .block_main__recruiter{
        font-weight: 400;
        border-left: 1px solid #eceeef;
        padding: 20px 80px 20px 20px;
        background-color: #dde1e3;
        text-transform: uppercase;
        color: #2a4656;
        font-size: 13px;
    }
    /*============  media ========*/
    @media (max-width: 991px){
        .block_main__total_cost{
            padding: 20px 0;
            text-align: center;
        }
    }
    @media (max-width: 768px){
        .block_main_thead{
            display: none;
        }
    }

  /*========================================= tbody ==============================*/
.row_block{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d8dadb;
}
.row_block:nth-child(odd) {
    background-color: #eceeef;
}
.row_block:nth-child(even) {
    background-color: #e8ebed;
}

.technology_block__title{
    padding: 20px 0;
}
.technology_block__location{
    padding: 20px 0 20px 10px;
}
.technology_block__salary{
    padding: 20px 20px 20px 0;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #2a4656;
}
.technology_block__completed{
    padding: 20px 0;
    text-align: center;
}
.technology_block__cost{
    padding: 10px 10px 10px 0;
    text-align: right;
    font-size: 34px;
    color: #016da7;
    font-weight: bold;
}
.technology_block-recruiter{
    padding: 10px 0 0 15px;
}
.technology_block-recruiter-avatar{
    background: url("../img/recruiter.png") no-repeat right top;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
}
.technology_block-recruiter-avatar-name{
    margin: 8px 0 0 0;
    color: #09579c;
    font-weight: bold;
}
.technology_block-recruiter-avatar-state{
    margin: 0;
    font-size: 12px;
    color: #8e9ba3;
}
.glyphicon{
    border-radius: 50%;
    background-color: #3faa18;
    height: 25px;
    width: 25px;
}
.glyphicon-ok:before{
    color: #fff;
    vertical-align: middle;
}
@media (max-width: 991px){
    .technology_block__location{
        text-align: center;
    }
}
/*============  media ========*/
@media (max-width: 768px){
    .glyphicon{
        text-align: center;
    }
    .technology_block__title{
        text-align: right;
        border-bottom: 1px solid #ccc;
    }
    .technology_block__location{
        text-align: right;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }
    .technology_block__salary{
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
        color: #2a4656;
        text-align: right;
        border-bottom: 1px solid #ccc;
    }
    .technology_block__completed{
        padding: 20px 0;
        text-align: right;
        border-bottom: 1px solid #ccc;
    }
    .technology_block__cost{
        padding: 10px 0;
        text-align: right;
        font-size: 34px;
        color: #016da7;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }
    .block_span_recruiter{
        display: inline-block;
        vertical-align: top;
    }
    .technology_block-recruiter-avatar-name{
        display: block;
    }
    .technology_block-recruiter{
        text-align: right;
        padding: 10px 0;
    }
    .technology_block-recruiter-avatar{
        display: inline-block;
        float: none;
    }
    .technology_block-recruiter .media564px{
        padding-top: 15px;
    }
    .technology_block__cost .media564px{
        padding-top: 15px;
    }
    .media564px{
        float: left;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        color: #333;
    }
    .row_block{
        border-radius: 3px;
        box-shadow: 0 0 12px 1px #ccc;
        margin-top: 10px;
    }
}
    @media (min-width: 768px){
        .media564px{
            display: none;
        }
    }

/*===================================== b-button ========================*/
.b-button{
    text-align: center;
    padding: 30px 0 60px 0;
}
.b-button__btn1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d5d6d7;
    cursor: pointer;
    margin-right: 5px;
}
.b-button__btn2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d5d6d7;
    display: inline-block;
    cursor: pointer;
}
.visible{
    opacity: 0.5;
}
.active_btn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #006ca9;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
 }
.disabled_btn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d5d6d7;
    display: inline-block;
    cursor: pointer;
}
/*================== ng-animate ======================*/
.view-animate.ng-enter,
.ng-leave {
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.view-animate.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 1;
    top: 0;
    height: 30px;
}

.view-animate.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 0;
    top: -50px;
    height: 0px;
}